[core]
  editor = vim
[push]
  default = simple
[alias]
  drop-commit = !sh -c 'git rebase -p --onto $0^ $0'
[pull]
  ff = only
[init]
  defaultBranch = main
[pager]
  branch = false
[pack]
	window = 1
