[push]
	default = simple
[alias]
  st = status
  d = diff --color-words
  dw = diff --word-diff
  ci = commit -v
  cia = commit -v -a
  ca = commit -a -m
  co = checkout -b
  cp = cherry-pick
  l = log
  ll = log -p
  b = branch
  drop-commit = !sh -c 'git rebase -p --onto $0^ $0'
