# RSpec

snippet res "require 'spec_helper'" b
require 'spec_helper'
endsnippet

snippet rer "require 'rails_helper'" b
require 'rails_helper'
endsnippet

snippet bef "before do end" b
before do
	$0
end

endsnippet

snippet expa "expect action to" b
expect { action }.to $0
endsnippet

snippet expac "expect action to change" b
expect { action }.to change { $0 }
endsnippet
