# RSpec

snippet res "require 'spec_helper'" b
require 'spec_helper'
endsnippet

snippet rer "require 'rails_helper'" b
require 'rails_helper'
endsnippet

snippet bef "before do end" b
before do
	$0
end

endsnippet
